<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Triton</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Analytics compiled for The Triton newspaper">
  <meta name="author" content="David Hacker">

  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="/static/css/site.css">
</head>

<body>
  <div class="container">
    <div class="section header">
      <div class="container">
        <div class="row">
          <h1 class="header-title"><b>The Triton</b> Site Analytics</h1>
        </div>
        <div class="row">
          <img src="/static/img/thetriton.png" class="header-image center-image">
        </div>
      </div>
    </div>
    <div class="section graphs">
      <div class="container">
        <div class="row">
          <div class="seven columns">
            <img src="/static/img/sample_graph.png" class="graphs-image">
          </div>
          <div class="five columns">
            <h3>Graphical Data</h3>
            <p>What could be better than some pretty graphs? Good question. I don't know.</p>
            <a class="button button-primary" href="/graphs">View Graphs</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section feedback">
      <div class="container">
        <div class="row">
          <!-- div class="seven columns">
            <img src="/static/img/sample_graph.png" class="graphs-image">
          </div -->
          <div class="offset-by-seven five columns">
            <h3>Article Feedback</h3>
            <p>Coming soon! Hopefully!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section footer">
      <p>Copyright © 2017 The Triton</p>
    </div>
  </div>
</body>
</html>